#scroller
  {
  position: relative;
  width: 150px;
  height: 628px;
  //border: solid 2px red;
  float: left;
  overflow: hidden;
  }

.scroll_inside
  {
  position: absolute;
  top: 0;
  width: 150px;
  //border: solid 2px yellow;
  text-align: center;
  background-color: white;
  }

.carlogo
  {
  opacity: .4;
  }